{{#is "home"}}
{{> cover-main}}
{{/is}}
{{#is "tag"}}
{{^is "paged"}}
{{> cover-tag}}
{{/is}}
{{/is}}
{{#is "author"}}
{{^is "paged"}}
{{> cover-author}}
{{/is}}
{{/is}}
<!-- start header -->
<header class="main-header">
	<nav class="navbar">
			{{navigation}}
	</nav>
</header>
<!-- end header -->