<!-- start social links -->
<div class="col-sm-6">
	<ul class="social-links">
		<li><a href="http://twitter.com/cjtylr"><i class="fa fa-twitter"></i></a></li>
		<li><a href="http://facebook.com/cjtylr"><i class="fa fa-facebook"></i></a></li>
		<li><a href="http://linkedin.com/in/cjtylr"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="tumblr.cjt.io"><i class="fa fa-tumblr"></i></a></li>
		<li><a href="/rss"><i class="fa fa-rss"></i></a></li>
	</ul>
</div>
<!-- end social links -->